<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Herculean">

        <!-- LoginActivity (launcher temporarily disabled) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Herculean.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Main app screens -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Herculean.NoActionBar" />
        <activity
            android:name=".RegisterAccount"
            android:exported="false" />
        <activity
            android:name=".workout.Upload"
            android:exported="false" />

        <!--  Temporary launcher for testing -->
        <activity
            android:name=".GoalAndScheduleActivity"
            android:exported="true"
            android:label="Goals &amp; Schedule">
        <!--<intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        -->
        </activity>

    </application>

</manifest>
